.h1 {
  margin: 0 auto;
  transition: all .10s;
  padding: 5px 5px;
  width: 100vw;
  height: 100vh;
  background-color: #FF6800;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.h1 h1 {
  width: 100%;



}

.time {

  display: block;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 3em;
  position: absolute;
  top: 2em;
  margin: 0 auto;


}
.reset {
  display: block;
  width: 70%;
  padding: 10px;
  margin: 30px auto;
  outline: none;
  border: none;
  border-radius: 50px;
  position: relative;
  background-color: #FFF;
  box-sizing: border-box;
  border: 1px solid #FFF;
  font-size: 1.3rem;

}

.reset:hover {
  background-color: #000;
  color: #FFF;
  border: 1px solid #FF6800;

}



.bg {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(255,104,0,1) 0%, rgba(255,104,0,1) 35%, rgba(248,248,248,1) 35%, rgba(255,255,255,1) 100%);
}


section {
  position: relative;
  margin: 0 auto;
  bottom: 4em;
}